/* VARIABLES */
:root {
    --bg: #02040f;
    --accent: #20fc8f;
    --accentOff: #20fc8ec9;
    --accent2: #7f2ccb;
    --text:      #d6d6d6;
    --textOff: #a8a8a8;
}   

html { scroll-behavior: smooth; }

body {
    color: var(--text);
    margin: 0;
    padding: 0;
    background:
        radial-gradient(ellipse 55% 60% at 100% 0%,   rgba(126, 44, 203, 0.74) 0%, transparent 60%),
        radial-gradient(ellipse 45% 50% at 0%   100%,  rgba(32,252,143,0.10) 0%, transparent 55%),
        var(--bg);
}

strong {
    color: var(--accent2);
}

/* navbar */

#navbar {
    position: fixed; top: 0; width: 100%;
    z-index: 1000;
    padding: 10px;
 }

/* links del navbar */
#navbar .nav-link {
    position: relative;
    color: var(--text) !important;
    text-decoration: none;
}

/* línea oculta */
#navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 6px;
    width: 0;
    height: 2px;
    background: var(--accent); /* tu verde */
    transition: width 0.3s ease;
    transform: translateX(-50%);

}

/* hover */
#navbar .nav-link:hover::after {
    width: 80%;
}

.navbar {
    padding-left: 0px;
    font-family: "JetBrains Mono", monospace;
    background-color: var(--bg) !important;
    color: var(--text);
}

.navbar-brand {
    margin: 0;
}


.navbar .nav-link {
    color: var(--text) !important;
}

/* hero */
#home {
    /* parralax */
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    margin-top: 0;         
    padding-top: 100px;     
    padding-left: 70px;
    
}

.hero-tag {
    display: inline-block;
    padding: 4px;
    border: 1px solid var(--accentOff);
    color: var(--accentOff);
    border-radius: 999px; /* pill */
}

.hero-title {
    font-family: "Jersey 10", sans-serif; /* placeholder, se pondrá una img */
    font-size: 150px;
    letter-spacing: 2px;
    line-height: 0.9;
}

.nombre {
    color: var(--bg);
    -webkit-text-stroke: 2px var(--accent2);}

/* Typing cursor en el título */
.typed-cursor {
    display: inline-block;
    width: 3px; 
    height: 0.8em;
    background: var(--text);
    margin-left: 4px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.hero-sub {
    max-width: 550px;
    line-height: 2;
    color: var(--textOff);
}

/* Secciones generales */
.page {
    margin-left: 70px;
}

.page-content {
    background-image: radial-gradient(circle, rgba(32, 252, 142, 0.377) 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: var(--bg);

    /* parralax */
    position: relative;
    z-index: 1;
    margin-top: 100vh;
    box-shadow: 0 -20px 60px rgba(2,4,15,0.8)
}

.section-label {
    margin-top: 150px;
    padding-top: 40px;
    color: var(--accentOff);
    font-family:"JetBrains Mono", monospace;
}

.title {
    font-family: "Jersey 10", sans-serif;
    font-size: 100px;
    line-height: 0.9;
}

/* styles.css */
#particles-canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 0;
    pointer-events: none; /* para que no bloquee los clicks */
}

/* asegura que el hero-content quede encima del canvas */
.hero-content {
    position: relative;
    z-index: 1;
}

/* sobre mí */
.about-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.about-text {
    max-width: 850px;
    color: var(--textOff);
}

.about-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right: 200px;
    color: var(--textOff);
}

.stat-card {
    border: 1px solid #08331d;
    border-radius: 12px;
    padding: 20px;
    background-color: var(--bg);
}
 
.stat-card:hover {
      border-color: var(--accent);
      transform: translateY(-4px);
}

.stat-number {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 30px;
    color: var(--accent);
}

/* proyectos */
.projects-grid {
    margin-top: 70px;
    padding: 0 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.7rem;

}

.project-sub{
    margin-top: 10px;
    color: var(--textOff);
}

.card {
    border: 3px solid var(--bg);
    color: var(--textOff);
    background: var(--bg);
    position: relative;
}

.card-body {
    padding: 1rem;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #20fc8f, #7f2ccb);
    border-radius: 20px 20px 0 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-2px);
}

.card:hover::before { transform: scaleX(1); }

.card .btn{
    color: var(--accentOff);
    background-color: var(--bg);
    border: 1px solid #08331d;
}

.card .btn:hover {
      border-color: var(--accent);
      transform: translateY(-2px);
      border: 1px solid var(--accentOff);
}

.card-title {
    color: var(--accent2);
}

.tag {
    font-size: 0.7rem;
    padding: 0.25rem 0.65rem;
    border-radius: 999px;
    background: #20fc8e1f;
    color: var(--accent);
    border: 1px solid #13995693;
    letter-spacing: 0.05em;
}

/* tencologías */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 0.5rem;
  margin-top: 80px;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.tech-programm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tech-programm img {
    width: 80px;
}

.tech-programm img:hover {
    transform: scale(1.2);
    transition: transform 0.15s ease;
}

.tech-programm p {
    font-family: "JetBrains Mono", monospace;
}

/* Contacto */
#contact {
    padding-bottom: 65px;
}

.section-sub {
    color: var(--textOff);
}

.contact-wrapper {
    max-width: 500px;
    margin-top: 60px;
}

.contact-card {
    display: flex; 
    flex-direction: column; 
    margin-top: 18px;

}

.contact-link {
    display: flex; align-items: center; gap: 1rem;
    padding: 0 20px;
    height: 70px;
    border-radius: 10px;
    text-decoration: none;

    /* glassmorphism */
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: var(--text);
    transition: background 0.3s, border-color 0.3s;
}

.contact-link img {
    width: 40px;
    /* efecto apagado */
    filter: grayscale(100%) brightness(0.6);
    opacity: 0.6;
}

.contact-link:hover {
    background: rgba(127, 44, 203, 0.12);
    border: 1px solid rgba(127, 44, 203, 0.45);
    color: var(--text);
    text-decoration: none;
}

.contact-link img {
    width: 40px;
    opacity: 0.75;
    transition: opacity 0.3s, transform 0.3s;
}

.contact-link:hover img {
    opacity: 1;
    transform: scale(1.1);
    filter: grayscale(0%) brightness(1);


}

.contact-link-arrow {
    margin-left: auto;
    font-size: 20px;
}

/* footer */
 footer {
    text-align: center;
    padding: 13px;
    color: var(--textOff);
    font-size: 0.75rem;
    border-top: 1px solid var(--accent2);
    letter-spacing: 0.1em;
}


